includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - config
        - database
        - routes

    excludePaths:
        - 'app/Http/Resources'

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
       

    parallel:
        maximumNumberOfProcesses: 4

    noUnnecessaryCollectionCall: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false 